#hero {
  padding-top: 6rem;
  background-image: url('/images/bg-hero.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#portfolio {
  background-color: var(--neutral-950);
}

#contact {
  background: url('/images/v04-lines-66.jpg');
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: var(--horizontal-padding);
  padding-right: var(--horizontal-padding);
}

.button {
  padding: 0 1.5rem;
  height: 3rem;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--neutral-500);
  border-radius: 9999px;
  background-color: var(--neutral-900);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: none;
    background-color: var(--neutral-100);
    border-color: var(--neutral-100);
    color: var(--neutral-900);
  }

  &-lg {
    font-size: 1.125rem;
    padding: 0 2.5rem;
    height: 4rem;
  }

  &-case {
    background-color: transparent;
    border-color: white;
  }
}

// custom classes

.hero-img-1 {
  height: 75%;
  width: auto;
  margin-left: -24rem;
  margin-top: -6rem;
}

.hero-img-2 {
  height: 75%;
  width: auto;
  margin-right: -24rem;
  margin-bottom: -6rem;
}

.mtg-image {
  right: -5rem;
  height: 85%;
  width: auto;
  transition: all 0.4s ease;
}

.react-image {
  height: 60%;
  width: auto;
  right: -12rem;
  transition: all 0.4s ease;
}

.portfolio-card {
  transition: all 0.4s ease;

  a {
    opacity: 0;
  }

  &:hover {
    &.mtg-case {
      background-color: var(--mtg-primary-400);
    }

    &.react-case {
      background-color: var(--mydimdim-primary-400);
    }
  }

  &:hover {
    background-color: var(--neutral-900);
    transform: scale(1.03);

    .button {
      background-color: var(--neutral-50);
      color: var(--neutral-900);
      border-color: var(--neutral-50);
    }

    .mtg-image {
      height: 88%;
      right: -4.75rem;
    }

    .react-image {
      height: 61%;
      right: -11.75rem;
    }
  }
}

.contact-img {
  height: 85%;
  width: auto;
}

// header start

#header {
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  z-index: 99;
}

.hide {
  top: calc(-6rem) !important;
}

.sticky-bg {
  backdrop-filter: blur(0.25rem);
  background-color: rgba(19, 19, 19, 0.8);
}

#mtg {
  .sticky-bg {
    backdrop-filter: blur(0.25rem);
    background-color: var(--mtg-primary-400);
  }
}

#my-dimdim {
  .sticky-bg {
    backdrop-filter: blur(0.25rem);
    background-color: var(--mydimdim-primary-400);
  }
}

// mtg start

.mtg-delivery {
  background: var(--mtg-primary-400) url('../images/mtg/mtg-bg-delivery.png') no-repeat center bottom / 100%;
  padding-bottom: 50%;
}

// responsive

@media screen and (max-width: 1439px) {
  .hero-right {
    padding-right: 5rem;
  }

  .hero-bg {
    width: 24rem;
  }

  .hero-img-1 {
    margin-left: -20rem;
    margin-top: -5rem;
  }

  .hero-img-2 {
    margin-right: -20rem;
    margin-bottom: -5rem;
  }
}

@media screen and (max-width: 1024px) {
  .py-128 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .hero-right {
    padding-right: 3rem;
  }

  .hero-bg {
    width: 20rem;
  }

  .hero-img-1 {
    margin-left: -16rem;
    margin-top: -4rem;
  }

  .hero-img-2 {
    margin-right: -16rem;
    margin-bottom: -4rem;
  }

  .text-5xl {
    font-size: 2.5rem;
  }

  .text-3xl {
    font-size: 1.5rem;
  }

  .contact-rainbow {
    width: 24rem;
  }
}

@media screen and (max-width: 768px) {
  .hero-container {
    flex-direction: column;

    padding-top: 4rem;
    padding-bottom: 4rem;

    > div {
      width: 100%;
      padding-right: 20%;
    }

    .hero-right {
      padding: 0;
      padding-left: 30%;
    }
  }

  #hero {
    background-position: 65% center;
  }

  .cases-wrap {
    flex-direction: column;
    gap: 2rem;
  }

  .portfolio-card {
    width: 100%;
  }

  .footer-wrap {
    flex-direction: column;
  }

  .contact-rainbow {
    width: 28rem;
  }

  .footer-img-container {
    padding-left: 20%;
  }

  .mtg-overview,
  .mtg-delivery-div {
    width: 100%;
  }

  #my-dimdim {
    .hero-container {
      gap: 3rem;

      > div {
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  #main-nav {
    nav {
      display: none;
    }
  }

  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  #hero {
    padding-top: 5rem;
  }

  .hero-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 4rem;

    > div {
      width: 100%;
      padding: 0;
    }

    .hero-right {
      padding: 0;
    }
  }

  .text-5xl {
    font-size: 2rem;
  }

  .hero-right,
  .footer-img-container {
    display: none;
  }

  .py-128 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .portfolio-card {
    aspect-ratio: initial;
    padding: 1.5rem;

    * {
      margin: 0;
    }

    > div {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    img {
      display: none;
    }
  }

  #portfolio {
    h2 {
      margin-bottom: 2rem;
    }
  }

  .mtg-logo {
    width: 10rem;
  }

  .mtg-technologies {
    flex-direction: column;
    gap: 3rem;

    .w-half {
      width: 100%;
    }
  }

  #my-dimdim {
    .hero-container {
      gap: 2rem;
    }
  }
}
