// border radius start

.rounded-none {
  border-radius: 0px;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-full {
  border-radius: 9999px;
}

// display start
.block {
  display: block;
}

// flexbox start

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-1 {
  flex: 1;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-none {
  flex: 0 0 auto;
}

.flex-grow {
  flex-grow: 1;
}

// sizes start

.w {
  &-full {
    width: 100%;
  }

  &-40p {
    width: 40%;
  }

  &-60p {
    width: 60%;
  }

  &-half {
    width: 50%;
  }

  &-third {
    width: 33.333333%;
  }

  &-2-third {
    width: 66.666667%;
  }

  &-quarter {
    width: 25%;
  }

  &-3-quarter {
    width: 75%;
  }

  &-auto {
    width: auto;
  }

  &-fit {
    min-width: fit-content;
  }

  &-4 {
    width: 0.25rem;
  }

  &-8 {
    width: 0.5rem;
  }

  &-12 {
    width: 0.75rem;
  }

  &-16 {
    width: 1rem;
  }

  &-24 {
    width: 1.5rem;
  }

  &-32 {
    width: 2rem;
  }

  &-40 {
    width: 2.5rem;
  }

  &-48 {
    width: 3rem;
  }

  &-56 {
    width: 3.5rem;
  }

  &-64 {
    width: 4rem;
  }

  &-72 {
    width: 4.5rem;
  }

  &-80 {
    width: 5rem;
  }
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
  height: 100dvh;
}

// gap start

.gap-4 {
  gap: 0.25rem;
}

.gap-8 {
  gap: 0.5rem;
}

.gap-12 {
  gap: 0.75rem;
}

.gap-16 {
  gap: 1rem;
}

.gap-24 {
  gap: 1.5rem;
}

.gap-32 {
  gap: 2rem;
}

.gap-64 {
  gap: 4rem;
}

// font-size start

.text-xs {
  font-size: 0.75rem;
  line-height: 1.5;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.5;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.5;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.5;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 1.4;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 1.3;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 1.2;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1.2;
}

.text-balance {
  text-wrap: balance;
}

// font weight start

.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

// text transform start

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

// padding start

.p-32 {
  padding: 2rem;
}

.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-48 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-64 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-128 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.pb-128 {
  padding-bottom: 8rem;
}

.pt-64 {
  padding-top: 4rem;
}

.pl-24 {
  padding-left: 1.5rem;
}

// position start

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.static {
  position: static;
}

.inset-0 {
  inset: 0;
}

// margin start

.mb-8 {
  margin-bottom: 0.5rem;
}

.mb-16 {
  margin-bottom: 1rem;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

.mb-32 {
  margin-bottom: 2rem;
}

.mb-48 {
  margin-bottom: 3rem;
}

.mt-auto {
  margin-top: auto;
}

// aspect start

.aspect-4-3 {
  aspect-ratio: 4/3;
}

.aspect-square {
  aspect-ratio: 1/1;
}

.aspect-video {
  aspect-ratio: 16/9;
}

// background start

.bg-white {
  background-color: white;
}

.bg-neutral-100 {
  background-color: var(--neutral-100);
}

.bg-neutral-800 {
  background-color: var(--neutral-800);
}

.bg-neutral-900 {
  background-color: var(--neutral-900);
}

.bg-neutral-950 {
  background-color: var(--neutral-950);
}

.bg-no-image {
  background-image: none !important;
}

// overflow start

.overflow-hidden {
  overflow: hidden;
}

// font color start

.text-neutral-100 {
  color: var(--neutral-100);
}

.text-neutral-200 {
  color: var(--neutral-200);
}

// text align start

.text-center {
  text-align: center;
}

// misc start

.list-disc {
  list-style-type: disc;
}

.hover-no-underline {
  &:hover {
    text-decoration: none;
  }
}

// mtg start

#mtg {
  color: var(--mtg-text);
}

.mtg-text {
  color: var(--mtg-text);
}

.mtg-text-dark {
  color: var(--mtg-text-dark);
}

.mtg-text-primary {
  color: var(--mtg-primary-400);
}

.mtg-bg-primary {
  background-color: var(--mtg-primary-400);
}

.mtg-bg-primary-light {
  background-color: var(--mtg-primary-50);
}
